.main{
  margin-left: 20px;
}

.title{
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
}

.entry{
  margin-bottom: 7px;
}

.entry-name{
  display: inline;
  font-weight: bold;
}

.entry-desc{
  display: inline;
}

.link{
  color: blue;
  cursor: pointer;
  display: inline;
}

.bold{
  font-weight: bold;
}

.code{
  font-family: "DejaVu Sans Mono", "Consolas", "Courier New", monospace;
  white-space: pre-wrap;
}

.mathlib{
  font-family: arial;
}

.code-inline{
  display: inline;
  padding: 1px 4px;
  /* background-color: #ddd; */
}

.code-block{
  margin: 10px 0px;
  padding: 10px;
  background-color: #282c34;
  width: calc(100% - 40px);
  cursor: text;
}

.scope{
  display: inline;
}

.scope-ref{
  cursor: pointer;
}

.scope-ref:hover{
  background-color: #fff;
  color: black !important;
}

.plain-text{
  display: inline;
}

.emphasis{
  display: inline;
}

.math-inline{
  display: inline;
}

/*****/

html, body{
  width: 100%;
  height: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active{
  color: blue;
  text-decoration: none;
}

.has-canvas{
  margin: 0px;
  overflow: hidden;
  outline: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar{
  display: none;
  visibility: hidden;
  opacity: 0;
}

html, body{
  scrollbar-width: none;
  overflow-x: hidden;
}

*{
  /* user-select: none; */
}